# Byte-compiled/cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Python version
.python-version

# Distribution/packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Database
*.db
*.sqlite3

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
#just in case
uv.lock

# Testing
.pytest_cache/
