<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', path='css/main.css') }}"
        />
        <title>Announcement</title>
    </head>
    <body>
        {% if role == "admin" %}
        <a id="close-btn-ann" href="admin">✖</a>
        {% endif %} {% if role == "user" %}
        <a id="close-btn-ann" href="dashboard">✖</a>
        {% endif %} {% if role == "admin" %}
        <div class="card">
            <h3>Add Announcement</h3>
            <form method="post" action="/announcement">
                <input name="title" placeholder="Title" required />
                <textarea
                    name="content"
                    placeholder="Content"
                    required
                ></textarea>
                <button type="submit">Post</button>
            </form>
        </div>
        {% endif %} {% for ann in announcements %}
        <div class="card">
            <div class="pfp"></div>

            <div class="content">
                <h3>{{ ann.title }}</h3>
                <p>{{ ann.content }}</p>
                <small>
                    By {{ ann.author }} • {{ ann.created_at.strftime('%d %b %Y,
                    %H:%M') }}
                </small>

                {% if role == "admin" %}
                <form method="post" action="/announcement/delete/{{ ann.id }}">
                    <button
                        type="submit"
                        onclick="return confirm('Yakin mau hapus?');"
                    >
                        Delete
                    </button>
                </form>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </body>
</html>
