<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', path='css/base.css') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', path='css/modal_reconfirm.css') }}"
        />

        {% block css %} {% endblock %}

        <title>DesaKita</title>
    </head>

    <body>
        <button id="menu-btn" class="menu-trigger">☰</button>

        <div id="sidebar-overlay" class="sidebar-overlay"></div>

        <div id="sidebar" class="sidebar">
            <div class="sidebar-header">
                <h3>DesaKita</h3>
                <button id="close-btn" class="close-btn">×</button>
            </div>

            <nav class="sidebar-nav">
                <a
                    href="{{ '/dashboard-admin' if role == 'admin' else '/dashboard' }}"
                    class="nav-link"
                >
                    <span class="icon"><i class="fa-solid fa-house"></i></span>
                    Home
                </a>

                <a href="/announcement" class="nav-link">
                    <span class="icon"
                        ><i class="fa-solid fa-bullhorn"></i
                    ></span>
                    Announcements
                </a>

                {% if role == "admin" %}
                <a href="/report" class="nav-link">
                    <span class="icon"
                        ><i class="fa-solid fa-file-lines"></i
                    ></span>
                    Report
                </a>

                {% elif role == "user" %}
                <div class="dropdown">
                    <button class="dropdown-btn">
                        <span class="icon"
                            ><i class="fa-solid fa-file-lines"></i
                        ></span>
                        Report
                        <span class="arrow">▼</span>
                    </button>
                    <div class="dropdown-content">
                        <a href="/report">Buat Laporan</a>
                        <a href="/report/laporan-saya">Laporan Saya</a>
                    </div>
                </div>
                {% endif %}

                <a href="#" class="nav-link">
                    <span class="icon"><i class="fa-solid fa-gear"></i></span>
                    Pengaturan
                </a>
            </nav>
        </div>

        <div id="modalKonfirmasi" class="modal-overlay">
            <div class="modal-card">
                <div class="modal-icon">
                    <i class="fa-solid fa-triangle-exclamation"></i>
                </div>

                <h2 id="modalTitle">Konfirmasi</h2>
                <p id="modalMessage">Apakah Anda yakin?</p>

                <div class="modal-buttons">
                    <button id="btnBatal" class="btn-batal">Batal</button>
                    <button id="btnKonfirmasi" class="btn-hapus">Ya</button>
                </div>
            </div>
        </div>

        <div id="modalSuccess" class="modal-overlay">
            <div class="modal-card success">
                <div class="modal-icon">
                    <i class="fa-solid fa-circle-check"></i>
                </div>

                <h2>Laporan Berhasil!</h2>
                <p>Laporan kamu sudah dikirim </p>

                <div class="modal-buttons">
                    <button class="btn-batal" onclick="closeSuccessModal()">
                        Tutup
                    </button>
                    <button id="btnCekLaporan" class="btn-success">
                        Cek Laporan
                    </button>
                </div>
            </div>
        </div>

        <form id="formGlobal" method="post" style="display: none"></form>

        <main>{% block content %} {% endblock %}</main>

        <script src="{{ url_for('static', path='js/main.js') }}"></script>

        {% block js %} {% endblock %}
    </body>
</html>
