<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Desa Kita</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/main.css') }}">
</head>
<body>

<header>
    <h1>Desa Kita</h1>
    <nav class="navbar">
      <ul class="nav-links">
        <li><a href="/">Beranda</a></li>
        <li><a href="/announcements">Pengumuman</a></li>
        <li><a href="#">Kontak</a></li>
      </ul>
    </nav>
</header>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
    <p>&copy; 2026 Project Media Desa - Membangun Digitalisasi Desa</p>
    <p style="text-align:center;">Naufal</p>
</footer>

</body>
</html>